<% layout('partials/layout') %>

<div class="container my-5 text-light">
  <h1 class="mb-4 text-light mt-4"><em><u><%= blog.title %></u></em></h1>

  <% if (blog.content) { %>
    <p class="text-light"><em><%= blog.content %></em></p>
  <% } %>

  <% if (blog.tags && blog.tags.length > 0) { %>
    <p class="text-light">Tags:
      <% blog.tags.forEach(tag => { %>
        <a href="/tags/<%= tag.slug %>"><%= tag.title %></a>
      <% }) %>
    </p>
  <% } %>

  <p class="text-light">
    <strong><u><em>Tags:</em></u></strong>
    <% if (blog.tags && blog.tags.length > 0) { %>
      <% blog.tags.forEach(tag => { %>
        <a href="/tags/<%= tag.slug %>"><%= tag.title %></a>
      <% }) %>
    <% } else { %>
      No tags assigned
    <% } %>
  </p>

  <p class="text-light">
    <strong><u><em>Categories:</em></u></strong>
    <% if (blog.categories && blog.categories.length > 0) { %>
      <% blog.categories.forEach(category => { %>
        <a href="/categories/<%= category.slug %>"><%= category.title %></a>
      <% }) %>
    <% } else { %>
      No categories assigned!
    <% } %>
  </p>

  <p class="text-light">
    <strong><u><em>Archives:</em></u></strong>
    <% if (blog.archives && blog.archives.length > 0) { %>
      <% blog.archives.forEach(archive => { %>
        <a href="/archives/<%= archive.slug %>"><%= archive.title %></a>
      <% }) %>
    <% } else { %>
      No archives assigned!
    <% } %>
  </p>
</div>

