<% layout('partials/layout') %>

<div class="container my-5 text-light">
  <h2 class="text-center mb-4"><em>Search Results for <u>"<%= query %>"</u></em></h2>

  <h3><em><u>Blogs</u></em></h3>
  <% if (blogResults && blogResults.length > 0) { %>
    <ul>
      <% blogResults.forEach(blog => { %>
        <li><em>
          <a href="/blogs/<%= blog.slug %>"><%= blog.title %></a></em>
        </li>
      <% }) %>
    </ul>
  <% } else { %>
    <p><em>No blogs found.</em></p>
  <% } %>

  <h3><em><u>Tags</u></em></h3>
  <% if (tagResults && tagResults.length > 0) { %>
    <ul>
      <% tagResults.forEach(tag => { %>
        <li><em>
          <a href="/tags/<%= tag.slug %>"><%= tag.title %></a></em>
        </li>
      <% }) %>
    </ul>
  <% } else { %>
    <p><em>No tags found.</em></p>
  <% } %>

  <h3><em><u>Categories</u></em></h3>
  <% if (categoryResults && categoryResults.length > 0) { %>
    <ul>
      <% categoryResults.forEach(cat => { %>
        <li><em>
          <a href="/categories/<%= cat.slug %>" class="btn btn-outline-light btn-sm w-100">
            <%= cat.title %></a>
          </a></em>
      <% }) %>
    </ul>
  <% } else { %>
    <p><em>No categories found.</em></p>
  <% } %>

  <h3><em><u>Archives</u></em></h3>
  <% if (archiveResults && archiveResults.length > 0) { %>
    <ul>
      <% archiveResults.forEach(archive => { %>
        <li><em>
          <a href="/archives/<%= archive.slug %>" class="btn btn-outline-light btn-sm w-100">
            <%= archive.title %>
          </a></em>
      <% }) %>
    </ul>
  <% } else { %>
    <p><em><u>No archives found.</u></em></p>
  <% } %>

  <h3><em><u>Services</u></em></h3>
  <% if (serviceResults && serviceResults.length > 0) { %>
    <ul>
      <% serviceResults.forEach(service => { %>
        <li><em><a href="/services/<%= service.slug %>"><%= service.title %></a></em></li>
      <% }) %>
    </ul>
  <% } else { %>
    <p><em>No services found.</em></p>
  <% } %>

  <h3><em><u>FAQs</u></em></h3>
  <% if (faqResults && faqResults.length > 0) { %>
    <ul>
      <% faqResults.forEach(faq => { %>
        <li><em><a href="/faqs/<%= faq.slug %>"><%= faq.title %></a></em></li>
      <% }) %>
    </ul>
  <% } else { %>
    <p><em>No FAQs found.</em></p>
  <% } %>

  <h3><em><u>Projects</u></em></h3>
  <% if (projectResults && projectResults.length > 0) { %>
    <ul>
      <% projectResults.forEach(project => { %>
        <li><em><a href="/projects/<%= project.slug %>"><%= project.title %></a></em></li>
      <% }) %>
    </ul>
  <% } else { %>
    <p><em>No projects found.</em></p>
  <% } %>
</div>