<% layout('partials/layout') %>

<div class="container my-5 text-light">
  <h2 class="text-center mb-4"><em>Search Results for "<%= query %>"</em></h2>

  <!-- BLOGS -->
  <% if (blogResults.length > 0) { %>
    <h3 class="text-light"><em><u>Blogs</u></em></h3>
    <div class="row">
      <% blogResults.forEach(blog => { %>
        <div class="col-md-6 mb-3">
          <div class="card p-3 h-100">
            <h5><a href="<%= blog.link %>"><em><%= blog.title %></em></a></h5>
            <p><em><%= blog.description %></em></p>
          </div>
        </div>
      <% }) %>
    </div>
  <% } %>

  <!-- SERVICES -->
  <% if (serviceResults.length > 0) { %>
    <h3 class="text-light"><em><u>Services</u></em></h3>
    <div class="row">
      <% serviceResults.forEach(service => { %>
        <div class="col-md-6 mb-3">
          <div class="card p-3 h-100">
            <h5><a href="<%= service.link %>"><em><%= service.title %></em></a></h5>
            <p><em><%= service.description %></em></p>
          </div>
        </div>
      <% }) %>
    </div>
  <% } %>

  <!-- PROJECTS -->
  <% if (projectResults.length > 0) { %>
    <h3 class="text-light"><em><u>Projects</u></em></h3>
    <div class="row">
      <% projectResults.forEach(project => { %>
        <div class="col-md-6 mb-3">
          <div class="card p-3 h-100">
            <h5><a href="<%= project.link %>"><em><%= project.title %></em></a></h5>
            <p><em><%= project.description %></em></p>
          </div>
        </div>
      <% }) %>
    </div>
  <% } %>

  <!-- ARCHIVES -->
  <% if (archiveResults.length > 0) { %>
    <h3 class="text-light"><em><u>Archives</u></em></h3>
    <div class="row">
      <% archiveResults.forEach(archive => { %>
        <div class="col-md-6 mb-3">
          <div class="card p-3 h-100">
            <h5><a href="<%= archive.link %>"><%= archive.title %></a></h5>
            <p><em><%= archive.description %></em></p>
          </div>
        </div>
      <% }) %>
    </div>
  <% } %>

  <!-- FAQ Categories -->
  <% if (faqCategories && faqCategories.length > 0) { %>
  <h3 class="text-light"><em><u>FAQ Categories</u></em></h3>
    <ul>
      <% faqCategories.forEach(faq => { %>
        <li>
          <a href="/faqs/<%= faq.slug %>"><%= faq.title %></a>
          <% if (faq.description) { %>
            <p><%= faq.description.substring(0, 100) %>...</p>
          <% } %>
        </li>
      <% }) %>
    </ul>
  <% } %>

  <!-- FAQ Questions & Answers -->
  <% if (faqWithQA && faqWithQA.length > 0) { %>
    <h3 class="text-light"><em><u>FAQ Questions & Answers</u></em></h3>
    <% faqWithQA.forEach(faq => { %>
      <h5><a href="/faqs/<%= faq.slug %>"><%= faq.title %></a></h5>
      <ul>
        <% faq.questions.forEach(q => { %>
          <% if (q.question.toLowerCase().includes(query.toLowerCase())) { %>
            <li>
              <strong><%= q.question %></strong><br>
              <small><%= q.answer.substring(0, 120) %>...</small><br>
              <a href="/faqs/<%= faq.slug %>#<%= q._id %>">Read more</a>
            </li>
          <% } %>
        <% }) %>
      </ul>
    <% }) %>
  <% } %>

  <!-- TAGS -->
  <% if (tagResults.length > 0) { %>
    <h3><em><u>Tags</u></em></h3>
    <div class="row">
      <% tagResults.forEach(tag => { %>
        <div class="col-md-6 mb-3">
          <div class="card p-3 h-100">
            <h5><a href="<%= tag.link %>"><em><%= tag.title %></em></a></h5>
            <p><em><%= tag.description %></em></p>
          </div>
        </div>
      <% }) %>
    </div>
  <% } %>

  <!-- CATEGORIES -->
  <% if (categoryResults.length > 0) { %>
    <h3 class="text-light"><em><u>Categories</u></em></h3>
    <div class="row">
      <% categoryResults.forEach(cat => { %>
        <div class="col-md-6 mb-3">
          <div class="card p-3 h-100">
            <h5><a href="<%= cat.link %>"><em><%= cat.title %></em></a></h5>
            <p><em><%= cat.description %></em></p>
          </div>
        </div>
      <% }) %>
    </div>
  <% } %>

  <!-- No results -->
  <% if (
      blogResults.length === 0 &&
      serviceResults.length === 0 &&
      projectResults.length === 0 &&
      archiveResults.length === 0 &&
      (faqCategories.length === 0 && faqWithQA.length === 0) &&
      tagResults.length === 0 &&
      categoryResults.length === 0
) { %>
  <p class="text-center"><em>No results found for "<%= query %>".</em></p>
<% } %>
</div>