<% layout('partials/layout') %>

<div class="container my-4 text-light">
  <h2 class="text-light"><em>Search Results for "<%= query %>"</em></h2>

  <% [blogResults, serviceResults, projectResults, archiveResults, faqCategoryResults, tagResults, categoryResults].forEach(results => { %>
    <% if (results && results.length) { %>
      <div class="row">
        <% results.forEach(item => { %>
          <div class="col-md-4 mb-3">
            <div class="card h-100">
              <div class="card-body">
                <h5><a href="<%= item.link %>"><em><%= item.title %></em></a></h5>
                <p><em><%= item.description %></em></p>
                <a href="<%= item.link %>" class="btn btn-primary btn-sm"><em>View</em></a>
              </div>
            </div>
          </div>
        <% }) %>
      </div>
    <% } %>
  <% }) %>
</div>