<% layout('partials/layout') %>
<div class="container text-center text-light">

  <h2><em><u><%= project.title %></u></em></h2>
  <p><em><%= project.description %></em></p>
  
  <% if (project.tags && project.tags.length > 0) { %>
    <h5><em><u>Tags:</u></em></h5>
    <ul>
      <% project.tags.forEach(tag => { %>
        <li><em><a href="/tags/<%= tag.slug %>"><%= tag.name %></a></em></li>
      <% }) %>
    </ul>
    <% } %>
      
    <% if (project.categories && project.categories.length > 0) { %>
    <h5><em><u>Categories:</u></em></h5>
    <ul>
      <% project.categories.forEach(cat => { %>
        <li><em><a href="/categories/<%= cat.slug %>"><%= cat.name %></a></em></li>
      <% }) %>
    </ul>
  <% } %>
</div>